{% liquid 
  assign sortedDescription = product.description | split: '</h4>' 
  assign sortedQNA = product.description | split: '"container"' 
  assign qNA = sortedQNA[1] | split: '<script>' 
  assign qNA = qNA[0]
  assign qNA = qNA | split: '</h1>' 
  assign qNA = qNA[1]
  assign sectionTitles = ''
  assign sectionContents = ''
%}

{% if qNA.size > 10 %}
  <div class = "product_description_wrapper">
    <h3 class = "product_description_wrapper_title"> Q&A </h3>
    <div class = "product_description_wrapper_content">
      <div class = "product_qna_wrapper">
        {{ qNA }}
      </div>
    </div>
  </div>
{% endif %}




