
<div class = "static_reminder_wrapper">
    <div class = "reminder_icon_wrapper" title = "We work hard to protect your security and privacy. Our payment security system encrypts your information during transmission. We do not share your credit card details with third-party sellers and we do not sell your information to others.">
        {% render 'icon-lock' %}
        <span>Secure transaction</span>
    </div>
    <div class = "reminder_icon_wrapper" title = "SF 智能櫃">
        {% render 'icon-docker' %}
        <span>Smart locker</span>
    </div>
    <div class = "reminder_icon_wrapper" title = "點到點交附">
        {% render 'icon-home' %}
        <span>Point to point</span>
    </div>
</div>