{{ 'style--naviPage--standard.css' | asset_url | stylesheet_tag }}
{{ 'style--naviPage--TSArticlesFilter.css' | asset_url | stylesheet_tag }}
<script defer = 'defer' src = {{ 'script--naviPage--standard.js' | asset_url }}></script>
<script defer = 'defer' src = {{ 'script--TSClient--naviPage_articleFilter.js' | asset_url }}></script>

<div class="repairNavi__section">
  <div class = "para">
    <h1 class = para__mainH1>MOOBI <br>汽車維修教學</h1>
    <p class = para__mainP> DIY 車身修復，車房以外的選擇</p>
    <img height = unset width = 1920 class = "para__item01" src = 'https://cdn.shopify.com/s/files/1/0046/0990/0618/files/navi_banner_background.png?v=1635687461'>
    <img height = unset width = 800 class = "para__item02" src = 'https://cdn.shopify.com/s/files/1/0046/0990/0618/files/navi_banner_foreground.png?v=1635687460'>
  </div>
</div>

<div class="repairNavi__section">
  <div class="repairNavi__section__container  --whiteBG --border">
    <div class="repairNavi__section__container__features">
      <div class="repairNavi__section__container__features__item">
        <h2 class = "repairNavi__section__container__features__item__h2">Let's begin!</h2>
        <p class = "repairNavi__section__container__features__item__p">各個車修補方案皆參考日本汽車用品生產廠 SOFT99 及其 DIY 維修子品牌 99工房的官方建議，效果經過真實測試！無論是新手或有整車經驗的車主，都有不同難易度的解決方案可選。包含每個步驟，圖文並茂詳細講解，絕對做得到！</p>
      </div>
      <div class="repairNavi__section__container__features__item"><h2>
        <i class="fas fa-comment-dollar"></i>
        實惠</h2></div>
      <div class="repairNavi__section__container__features__item"><h2>
        <i class="fas fa-chalkboard-teacher"></i>
        超簡單</h2></div>
      <div class="repairNavi__section__container__features__item"><h2>
        <i class="fas fa-tachometer-alt"></i>
        省時</h2></div>
    </div>
  </div>
</div>

<div class="repairNavi__section">
  <div class="repairNavi__section__container">
    <div class="repairNavi__section__container__navi" data-naviPage_engagement_type = 'naviPage_engagement_widget'>
      <div class="repairNavi__partSelector__section">
        <div class="repairNavi__partSelector__section__container">
          <h2 class="repairNavi__partSelector__section__container__h2">
            你想維修哪個部位？
          </h2>
          <div class="repairNavi__partSelector__section__container__grid">
            <div
              class="repairNavi__partSelector__section__container__grid__col"
              data-part="Bumper"
            >
              <img loading ="lazy" height = unset width = 300 src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/i_menu_p01.png?v=1634185708" />
              <h3>泵把 (Bumper)</h3>
            </div>
            <div
              class="repairNavi__partSelector__section__container__grid__col"
              data-part="Body"
            >
              <img loading ="lazy" height = unset width = 300 src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/i_menu_p02.png?v=1634185708" />
              <h3>車身 (Body)</h3>
            </div>
            <div
              class="repairNavi__partSelector__section__container__grid__col"
              data-part="Wheel"
            >
              <img loading ="lazy" height = unset width = 300 src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/i_menu_p04.png?v=1634185708" />
              <h3>車鈴 (Wheels)</h3>
            </div>
            <div
              class="repairNavi__partSelector__section__container__grid__col"
              data-part="Glass"
            >
              <img loading ="lazy" height = unset width = 300 src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/i_menu_p03.png?v=1636801962" />
              <h3>車頭燈 (Headlight)</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="repairNavi__problemSelector__section">
        <div
          class="repairNavi__problemSelector__section__container"
          id="problemSelectorContainer"
        >
          <h2 class="repairNavi__problemSelector__section__container__h2">
            你的情況最接近哪一種？
          </h2>
          <div
            class="repairNavi__problemSelector__section__container__grid"
            id="problemSelectorGrid"
          >
          <!--<p>Please select a part to show the problems</p>-->
        </div>
        </div>
      </div>
      <div class="repairNavi__solutionSelector__section">
        <div class="repairNavi__solutionSelector__section__container">
          <h2 class = "repairNavi__solutionSelector__section__container__h2" id="solutionSelector">
            建議方案
          </h2>
          <div class = "repairNavi__solutionSelector__section__container__grid__container" id = "solutionsGridsCont">
           <!-- <p>please select a problem to show solutions</p>-->
        </div>
        <div id = "solutionEnd"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="repairNavi__section">
  <div class="repairNavi__section__container">
    <div class="repairNavi__section__container__explained">
      <div class="repairNavi__section__container__explained__grid">
        <h2 class="repairNavi__section__container__explained__grid__h2">DIY 修補攻略是什麼？</h2>
        <p class="repairNavi__section__container__explained__grid__p">相信很多車主都試過「揩花」愛車，但到車房維修價錢通常比較高…其實只要有合適的產品，學習少許修補常識的話，你都可以享受 DIY 修補的樂趣！</p>
  </div>
  <img width = unset height = unset loading = "lazy" src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/products_ranges.png?v=1634218053" class="repairNavi__section__container__explained__grid__img"> 
    </div>
  </div>
</div>

<div class="repairNavi__section">
  <div class="repairNavi__section__container">
    {% render 'snippet_typesense_articleFilter' attribute : "someattribute" attributeValue: "someValue" %}
  </div>
</div>


<div class="repairNavi__section">
  <div class="repairNavi__section__container">
    <div class="repairNavi__section__container__options">
      <div class="repairNavi__section__container__options__grids" data-naviPage_engagement_type = 'naviPage_engagement_bigButtons'>
        <a href = "/products/atelier-99-touch-up-pen">
        <div class="repairNavi__section__container__options__grids__item">
          <img width = unset height = unset loading = "lazy" src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/markers.png?v=1635331608" alt="" class="repairNavi__section__container__options__grids__item__img">
          <h3 class="repairNavi__section__container__options__grids__item__h3">
            補油筆選色攻略
          </h3>
        </div>
      </a>
      <a href = "/pages/how-to-use-car-repair-tutorial">
        <div class="repairNavi__section__container__options__grids__item">
          <img width = unset height = unset loading = "lazy" src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/vincent.png?v=1635331608" alt="" class="repairNavi__section__container__options__grids__item__img">
          <h3 class="repairNavi__section__container__options__grids__item__h3">
            使用指南
          </h3>
        </div>
      </a>
      <a href = "/">
        <div class="repairNavi__section__container__options__grids__item">
          <img width = unset height = unset loading = "lazy" src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/All.png?v=1635331608" alt="" class="repairNavi__section__container__options__grids__item__img">
          <h3 class="repairNavi__section__container__options__grids__item__h3">
            MOOBI 本店
          </h3>
        </div>
      </a>
      <a href = "/pages/about-us">
        <div class="repairNavi__section__container__options__grids__item">
          <img width = unset height = unset loading = "lazy" src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/carbody.png?v=1635331608" alt="" class="repairNavi__section__container__options__grids__item__img">
          <h3 class="repairNavi__section__container__options__grids__item__h3">
            關於我們
          </h3>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Repair Navi",
  "settings": [],
  "presets": [
    {
      "name": "Repair Navi"
    }
  ]
}
{% endschema %}
