<div class="product_main_section_standard">
  <div class = "product_line_spacer"> </div>
    <h2 class = "product_main_section_title">喜歡這產品的人還買了︰</h2>
    <div class = "frequently_bought_together_container"></div>
</div>

{% schema %}
{
  "name": "Product FBT",
  "settings": [
  ],
  "presets": [
    {
      "name": "Product FBT"
    }
  ]
}
{% endschema %}
