.smartNav_image_grid {
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0ps;
  gap: 5px;
}

.smartNav_card {
  flex-basis: 90px;
  flex-grow: 1;
  max-width: 150px;
}
@media screen and (max-width: 1200px) {
  .smartNav_card {
    max-width: 110px;
  }
}
@media screen and (max-width: 650px) {
  .smartNav_card {
    max-width: 110px;
  }
}

.smartNav_image_wrapper {
  box-sizing: border-box;
  border-radius: 50%;
  margin: 5px 8px;
  overflow: hidden;
  line-height: 0px;
  aspect-ratio: 1;
  filter: drop-shadow(1px 1px 2px rgba(60, 60, 60, 0.2));
}

.smartNav_image_wrapper img {
  height: 100%;
  width: 100%;
  transform: scale(1.15);
  transition-property: transform;
  transition-duration: 100ms;
}

.smartNav_image_wrapper img:hover {
  transform: scale(1);
  opacity: 0;
}

.smartNav_image_grid p {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 1rem;
  color: rgba(61, 61, 61, 0.7490196078);
}

@media screen and (max-width: 650px) {
  .smartNav_image_grid {
    padding: 0px 10px;
    grid-template-columns: repeat(3, 1fr);
  }
}