.product_main_section_standard {
  padding: 40px;
  padding-bottom: 0px;
}
.product_main_section_standard h4 {
  font-size: 1.8rem;
}
.product_main_section_standard li {
  font-size: 1.4rem;
}
.product_main_section_standard iframe {
  width: 100%;
  max-height: 250px;
  max-width: 500px;
  padding: 5px 15px;
}
.product_main_section_standard h1 {
  font-size: 2.5rem;
  margin-top: 0px;
}
.product_main_section_standard h2 {
  font-size: 2.2rem;
  font-weight: 600;
  padding: 20px;
  padding-bottom: 0px;
}
@media screen and (max-width: 900px) {
  .product_main_section_standard {
    padding: 40px 20px;
  }
}
.product_main_section_standard_grid {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 900px) {
  .product_main_section_standard_grid {
    display: block;
  }
}
.product_main_section_standard_grid .product_section_standard_media {
  padding: 10px;
  flex-basis: 400px;
  min-width: 300px;
  flex-shrink: 1;
  flex-grow: 1;
}
.product_main_section_standard_grid .product_section_standard_description {
  padding: 10px;
  flex-basis: 400px;
  flex-shrink: 1;
  flex-grow: 1;
}
.product_main_section_standard_grid .product_section_standard_description .linked_vendor {
  font-size: 1.3rem;
  font-weight: 600;
  color: #606060;
}
.product_main_section_standard_grid .product_section_standard_description h3 {
  font-weight: 600;
  height: 21px;
}
.product_main_section_standard_grid .product_section_standard_description .price__regular .price-item--regular {
  font-weight: 400;
  font-size: 1.8rem;
  margin: 15px 0px;
  margin-bottom: 30px;
}
.product_main_section_standard_grid .product_section_standard_pricing {
  padding: 10px;
  flex-basis: 350px;
  min-width: 300px;
  height: fit-content;
}
.product_main_section_standard_grid .product_section_standard_pricing .product_section_standard_pricing_add2cart_wrapper {
  padding: 20px;
  height: fit-content;
  border: 1px solid;
  margin-bottom: 10px;
}
.product_main_section_standard_grid .product_section_standard_pricing .product_section_standard_pricing_add2cart_wrapper .productPrompt_grid_description {
  font-size: 1.2rem;
}
.product_main_section_standard_grid .product_section_standard_pricing .product_section_standard_pricing_add2cart_wrapper .productPrompt_title {
  margin-top: 0px;
}
.product_main_section_standard_grid .product_section_standard_pricing .product_section_standard_pricing_add2cart_wrapper .productPrompt_popup_productItem_price {
  font-weight: 600;
  text-align: center;
  color: #3D3D3D;
}
.product_main_section_standard_grid .product_section_standard_pricing .product_section_standard_pricing_add2cart_wrapper .productPrompt_popup_productItem_comparedAtPrice {
  color: #606060;
}
.product_main_section_standard_grid .product_section_standard_pricing .product_section_standard_pricing_add2cart_wrapper .productPrompt_grid_productItem {
  display: grid;
  grid-template-columns: 35% 65%;
}
.product_main_section_standard_grid .product_section_standard_pricing .product_section_standard_pricing_add2cart_wrapper .productPrompt_grid_productItem .productPrompt_grid_productItem_title {
  font-size: 1.3rem;
}
.product_main_section_standard_grid .product_section_standard_pricing .product_section_standard_pricing_add2cart_wrapper .productPrompt_grid_productItem .productPrompt_grid_productItem_imageWrapper {
  margin-right: 10px;
}
.product_main_section_standard_grid .product_section_standard_pricing .product_section_standard_pricing_add2cart_wrapper .productPrompt_grid_productItem .productPrompt_grid_productItem_imageWrapper img {
  width: 100%;
}
.product_main_section_standard_grid .product_section_standard_pricing .product_section_standard_pricing_add2cart_wrapper .productPrompt_grid_productItem .productPrompt_popup_productItem_comparedAtPrice {
  font-size: 1.2rem;
  text-decoration: line-through;
}

.product_main_section_standard_grid2 {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
}
.product_main_section_standard_grid2 .product_description_wrapper {
  flex-basis: 320px;
  flex-grow: 1;
  flex-shrink: 1;
  height: fit-content;
  max-width: 750px;
  min-width: 150px;
  max-height: 1555px;
  padding: 20px;
  border: 1px solid #404040;
  margin: 5px 15px;
  transition-property: max-height;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  overflow: clip;
}
.product_main_section_standard_grid2 .product_description_wrapper .product_qna_wrapper button.accordion {
  border: none;
  background: none;
}
.product_main_section_standard_grid2 .product_description_wrapper .product_description_wrapper_title {
  position: relative;
}
.product_main_section_standard_grid2 .product_description_wrapper .product_description_wrapper_title::after {
  content: "";
  position: absolute;
  display: block;
  right: 0px;
  bottom: 7px;
  background-color: #0f1111;
  width: 10px;
  height: 10px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(180deg);
  transition: transform;
  transition-duration: 200ms;
}
.product_main_section_standard_grid2 .product_description_wrapper img {
  width: 100%;
}
.product_main_section_standard_grid2 .product_description_wrapper h3 {
  font-weight: 600;
  margin-top: 0px;
  font-size: 1.5rem;
}
.product_main_section_standard_grid2 .product_description_wrapper h4 {
  font-weight: 600;
}
.product_main_section_standard_grid2 .product_description_wrapper li {
  font-size: 1.4rem;
}
.product_main_section_standard_grid2 .product_description_wrapper p {
  font-size: 1.4rem;
  padding: 0px;
  margin: 0px;
}

.breadCrumbs__Wrapper {
  margin-bottom: 10px;
  margin-left: 10px;
}
.breadCrumbs__Wrapper .breadCrumbsText a {
  color: #0f1111;
  font-size: 1.3rem;
}
.breadCrumbs__Wrapper .breadCrumbsText::after {
  content: ">";
}
.breadCrumbs__Wrapper .breadCrumbsText:last-of-type::after {
  content: "";
}

.linked_vendor {
  font-size: 1.2rem;
  color: #606060;
}

.static_reminder_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.static_reminder_wrapper .reminder_icon_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.static_reminder_wrapper .reminder_icon_wrapper svg {
  height: 20px;
  filter: brightness(0) saturate(100%) invert(37%) sepia(2%) saturate(63%) hue-rotate(37deg) brightness(102%) contrast(98%);
}
.static_reminder_wrapper .reminder_icon_wrapper span {
  font-size: 1.2rem;
}

.price_shippingPolicy_wrapper {
  margin: 20px 0px;
}
.price_shippingPolicy_wrapper h4 {
  font-size: 1.3rem;
  margin: 5px 0;
}
.price_shippingPolicy_wrapper li {
  font-size: 1.2rem;
}

.priceBlock_trustBadge .reminder_icon_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  justify-content: flex-start;
}
.priceBlock_trustBadge .reminder_icon_wrapper svg {
  height: 15px;
  filter: brightness(0) saturate(100%) invert(37%) sepia(2%) saturate(63%) hue-rotate(37deg) brightness(102%) contrast(98%);
}
.priceBlock_trustBadge .reminder_icon_wrapper span {
  font-size: 1.2rem;
  margin-left: 10px;
}

.product_line_spacer {
  display: block;
  height: 0px;
  border-top: 1px solid rgba(64, 64, 64, 0.3137254902);
}

.tftable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.3rem;
  border: 0px;
}
.tftable a {
  padding: 5px 10px;
  width: fit-content;
  background: #404040;
  display: block;
  margin: 5px auto;
  color: #fff;
  transition-property: transform;
  transition-duration: 200ms;
}
.tftable a:hover {
  transform: scale(1.02);
}