/*=========== comparison =============*/
.productComparison__container__grid2S {
  display: -ms-grid;
  display: flex;
  padding: 5px;
  -ms-grid-columns: 21% 79%;
  grid-template-columns: 20% 80%;
}
@media screen and (max-width: 900px) {
  .productComparison__container__grid2S {
    padding: 0px 10px;
  }
}

.productComparison__container__grid2S__titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 14px;
  flex-basis: 70px;
  flex-shrink: 0;
  flex-grow: 1;
  max-width: 125px;
}
@media screen and (max-width: 900px) {
  .productComparison__container__grid2S__titles {
    margin-bottom: 4px;
    flex-basis: 70px;
  }
}

.productComparison__container__grid2S__titles__title {
  display: block;
  min-height: 2.3rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.productComparison__container__grid2S__titles__title:last-of-type {
  padding: 2px 0px;
}

.productComparison__container__grid2S__table {
  display: flex;
  overflow-x: scroll;
  overflow-y: clip;
  padding: 5px;
}

.productComparison__container__grid2S__table__grid5S {
  display: -ms-grid;
  display: grid;
  width: 600px;
  column-gap: 5px;
  -ms-grid-columns: 1fr [5];
  grid-template-columns: repeat(5, 1fr);
}

.productComparison__container__grid2S__table__grid5S__title {
  overflow-y: hidden;
  font-size: 1.4rem;
  min-height: 9rem;
}

div.productComparison__container__grid2S__table__grid5S__score {
  font-size: 1.2rem;
  display: block;
  min-height: 2.3rem;
}

.productComparison__container__grid2S__table__grid5S__score i {
  color: #FFC500;
}

.productComparison__container__grid2S__table__grid5S__price {
  font-size: 1.5rem;
  font-weight: 600;
}

.productComparison__card {
  padding: 0px 2px;
  flex-basis: 210px;
  max-width: 210px;
}
.productComparison__card a {
  width: 100%;
}
.productComparison__card img {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .productComparison__card {
    min-width: 165px;
  }
}
.productComparison__card .productComparison__img__wrapper {
  width: 100%;
  aspect-ratio: 1;
}

/* === prompt ===*/
.productPrompt__section {
  border: 1px solid;
  border-color: rgba(60, 60, 60, 0.2);
  border-top: 6px solid #ffc500;
  padding: 1.2vw;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 10px;
}

h4.productPrompt__section__title {
  font-weight: 600;
}