@media only screen and (min-width: 550px) {
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgba(60, 60, 60, 0.2);
      border-radius: 2px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgba(60, 60, 60, 0.2);
      border-radius: 10px;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: rgba(60, 60, 60, 0.3);
    }
    .products-slide-item-container {
      display: block;
      width: 200px;
      min-height: 320px;
      font-size: 13pt;
      flex-shrink: 0;
      height: 100%;
      margin: 0px 5px;
      padding: 15px 0px;
    }
  }
  